body {
    background-image: url("images/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
  }
  
  h1 {
    color: black;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    font-family: "Roboto Mono", monospace;
  }
  
  ul {
    margin: 0 0 15px;
    padding: 0;
  }
  
  .titles{
    font-weight: bold;
  }
  li {
    color: black;
    font-size: 16px;
    font-weight:lighter;
    height: 20px;
    line-height:1;
    list-style: none;
    text-transform: capitalize;
    font-family: "Roboto Mono", monospace;
  }

  a{
    text-decoration: none;
    color:white;
  }
  
  .weather-app {
    border: 1px solid #dadde1;
    padding: 40px;
    margin: 50px auto;
    border-radius: 15px;
    max-width: 750px;
    margin-bottom: 0px;
    background: white
  }
  .clearfix{
    display: flex;
    flex-direction: row;
}

.float-left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: unset;

}
  #icon{
    margin-top: 5px;
}
  
  .weather-icon {
    height: 64px;
    width: 64px;
    margin-right: 10px;
  }
  
  .temperature {
    color:black;
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
  }
  
  .units {
    position: relative;
    top: -25px;
      display: block;
      font-family: "Roboto Mono", monospace;
      font-size: 15px;
  }
  
  #celsius{
    color: black;
  }
  #fahrenheit{
  color: black;
  }

  input[type="search"] {
    position: relative;
    padding: 0 40px;
    background: white;
    border-radius: 25px 0 0 25px;
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    font-size: 15px;
    outline: none;
    width: 400px;
    height: 60px;
    border: none;
    cursor: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    top: 5px;
    left: -10px;
  }
  .search-btn {
    padding: 19px 23px;
    color: white;
    background: black;
    font-size: 15px;
    border: none;
    border-radius: 0 25px 25px 0;
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
    position: relative;
    top: 5px;
    left: 20px;
  }
  
  .search-btn:hover {
    color: white;
    background: grey;
  }
  .current-btn {
    padding: 17px 23px;
    color: white;
    background: black;
    font-size: 15px;
    border: none;
    border-radius: 50%;
    font-family: "Roboto Mono", monospace;
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
    position: relative;
    top: 5px;
    left: -40px;
  }
  .current-btn:hover {
    color: white;
    background: grey;
  }
  
  .search-form {
    margin-bottom: 20px;
  }

  .open-source {
    max-width: 730px;
    display: block;
    margin: 20px auto;
    margin-top: 0px;
    font-family: "Roboto Mono", monospace;
  }

  .weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: black;
    font-family: "Roboto Mono", monospace;
  }
  
  .weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
    font-family: "Roboto Mono", monospace;
  }
  .weather-forecast-temperatures-min {
    opacity: 0.5;
    font-family: "Roboto Mono", monospace;
  }
  .weather-forecast-temperatures {
    font-size: 13px;
    font-family: "Roboto Mono", monospace;
  }